# Gradle
.gradle/
build/
**/build/
gradle-app.setting

# Android
local.properties
*.jks
*.keystore

# IDE
.idea/
*.iml
*.iws
*.ipr
.DS_Store

# Generated
app/src/main/assets/dexopt/
app/src/main/assets/webkit/

# Outputs
*.apk
*.aab
*.ap_
